<div class="min-h-screen flex flex-col">
  <header>
    <mat-toolbar color="primary" class="h-16 flex justify-between items-center px-4 shadow-md">
      <a routerLink="/" class="text-lg font-semibold">
        <img src="logo-transparent-bgr.png" alt="Logo" class="inline h-8 ml-2" />
      </a>
      <div class="flex items-center gap-2">
        <button mat-stroked-button routerLink="/pilot-tower-sockets" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }" [disabled]="isActive('/pilot-tower-sockets')">
          Socket example
        </button>

        @if (authService.currentUserSig() === null) {
        <button mat-flat-button routerLink="/login" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }" [disabled]="isActive('/login')">
          Login
        </button>
        }
        @else if (authService.currentUserSig()) {
        <button mat-stroked-button routerLink="/todos" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }" [disabled]="isActive('/todos')">
          Todos
        </button>
        <button mat-stroked-button routerLink="/profile" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }" [disabled]="isActive('/profile')">
          {{ authService.currentUserSig() }}'s Profile
        </button>
        <button mat-stroked-button (click)="authService.logout()">
          Logout
        </button>
        }
        <button class="p-2 flex" mat-icon-button (click)="toggleTheme()" aria-label="Toggle theme">
          <mat-icon>
            {{ currentTheme === 'dark' ? 'dark_mode' : 'light_mode' }}
          </mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </header>

  <main class="flex-grow p-3">
    @if (loading) {
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
    <router-outlet></router-outlet>
  </main>

  <footer>
    @if (isProduction) {
    <mat-toolbar color="tertiary" class="h-14 flex items-center justify-center">
      <span class="text-xs text-gray-500">
        &copy; {{ currentYear }} Zdenko Vuk
      </span>
    </mat-toolbar>
    }
    @else {
    <mat-toolbar color="warn"
      class="h-14 flex items-center justify-center border-2 border-dashed border-violet-600 bg-yellow-500">
      <span class="text-xs text-violet-600 font-bold">
        DEVELOPMENT MODE &copy; {{ currentYear }} Zdenko Vuk
      </span>
    </mat-toolbar>
    }
  </footer>
</div>